server:
  port: 8089
spring:
  h2:
    console:
      enabled: true
  jpa:
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql:
          true
    show-sql: true
    database-platform:
      org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
  sql:
    init:
      enabled: true
  datasource:
    url: jdbc:mysql://localhost:3306/voc_project
    username: root
    password: jisoo
    driver-class-name: com.mysql.jdbc.Driver